@import 'tailwindcss';

@theme inline {
  --color-bg: #0a0a0a;
  --color-secondary: #141414;
  --color-text: #e0e0e0;

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.8125rem; /* 13px */
  --text-base: 0.875rem; /* 14px */
  --text-lg: 1rem; /* 16px */
}

body {
  user-select: none;
  font-size: var(--text-base);
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
