@import 'tailwindcss';

@theme inline {
  --color-bg: #0a0a0a;
  --color-primary: #141414;
  --color-secondary: #232323;
  --color-text: #e0e0e0;
  --color-accent: #ff599a;
  --color-gray: #666666;

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.8125rem; /* 13px */
  --text-base: 0.875rem; /* 14px */
  --text-lg: 1rem; /* 16px */
}

html {
  scrollbar-gutter: stable;
}

body {
  user-select: none;
  font-size: var(--text-base);
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

.gallery-grid {
  @apply columns-2 sm:columns-3 md:columns-4 lg:columns-5 xl:columns-6 2xl:columns-7;
}

::-webkit-scrollbar {
  width: 8px;
  @apply bg-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-xl;
}
